<div class="container">
  <h1>Workout Plans</h1>
</div>

<div class="container">
  <% @workouts.each do |workout| %>
    <ul>
      <li><%= link_to workout.name, workout %></li>
    </ul>
  <% end %>
</div>

<div class="container">
  <h3>
    <%= link_to 'Create a Workout Plan', new_workout_path, :class => 'btn btn-outline-primary' %>
  </h3>
</div>
