<div class="container">
  <h1>Sign Up</h1>
</div>
<div class="container">
  <% if @user.errors.any? %>
    <ol>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ol>
  <% end %>
</div>
<div class="container">
  <%= render :partial => 'form' %>
</div>
