<div class="container">
  <h1>All Exercises</h1>
</div>

<div class="container">
  <% @exercises.each do |exercise| %>
    <ul>
      <li><%= link_to exercise.name, exercise %></li>
    </ul>
  <% end %>
</div>

<div class="container">
  <h2>
    <%= link_to 'Add a New Exercise', new_exercise_path, :class => 'btn btn-outline-primary' %>
  </h2>
</div>
